* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
img {
    display: inline-block;
    max-width: 100%;
}
@font-face {
  font-family: "Mona Sans";
  src: url("assets/fonts/mona-sans.woff2") format("woff2");
  font-weight: 200 900;
  font-display: swap;
  font-feature-settings: "liga" 0;
}
@font-face {
  font-family: "Mona Sans Mono";
  src: url("assets/fonts/mona-sans-mono.woff2") format("woff2");
  font-weight: 200 900;
  font-display: swap;
  font-feature-settings: "liga" 0;
}
:root {
 --font-body: "Mona Sans";
 --font-mono: "Mona Sans Mono";
 --color-black: #000;
 --color-white:#fff;
 --color-border-muted: #191f1b;
 --color-muted: #A4AEA6;
 --container-width: 1280px;
 --spacing-64: 64px;
 --color-cursor: #fb05ff;
 --heading-1-font-size: 56px;
 --heading-1-line-height: 1em;
 --eyebrow-font-size:14px;
 --text-200-font-size:16px;
 --text-200-line-height: 1.5;
 --color-button-primary-bg: #08872B;
 --color-button-secondary-bg: rgba(255,255,255, 0.12);
 --border-color: rgba(255,255,255, 0.06);
 --brand-color-text-muted: #A4AEA6;
 --brand-color-text-default: #fff;
}
@media(max-width: 640px) {
:root {
   --heading-1-font-size: 36px;
   }
 }

body {
   font-family: var(--font-body);
  
}

.hero {
    --hero-text-max-width: 600px;
    --hero-content-gap: 1em;

    background: var(--color-black);
    color: var(--color-white);
    text-align: center;
}
.hero-content {
    padding: var(--spacing-64);
    border-left: 1px solid var(--color-border-muted);
    border-right: 1px solid var(--color-border-muted);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:var(--hero-content-gap);
    background-image:linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)),  url(assets/images/Hero-img.png);
    background-size: cover; 
    background-position: top;
}

.hero-content {
    position: relative;
    z-index: 2; 
}
.container {
    max-width: var(--container-width);
    margin-left:auto;
    margin-right: auto;
}
.eyebrow {
    text-align: center;
    font-family: var(--font-mono);
    letter-spacing: 1px;
    text-transform: uppercase;
    color: var(--color-muted);
    display: flex;
    align-items: center;
    gap: 0.42em;
    justify-content: center;
}
.eyebrow-cursor rect{
    fill: var(--color-cursor)
}

.heading {
    font-weight: 400;
    line-height: var(--text-200-line-height);
}
.heading-size-1 {
    font-size: var(--heading-1-font-size);
    line-height: var(--heading-1-line-height);
}

.hero .text {
    max-width: var(--hero-text-max-width);
}
.hero-img {
    margin-top: calc(64px - var(--hero-content-gap));
}

.button-group {
    display: flex;
    gap: 1em;
}

.button {
    text-decoration:none;
    color: var(--color-white);
    border: 1px solid ;
    padding-bottom: 0.6em;
    padding-top: 0.6em;
    padding-left: 1.25em;
    padding-right: 1.25em;
    border-radius: 0.375em;
    font-family: var(--font-body);
    font-weight: medium;
    letter-spacing: 0.16px;

}
.button-primary {
    background-color: var(--color-button-primary-bg);
    border-color: transparent;
}
.button-primary:hover {
    background-color: color-mix(in srgb, var(--color-button-primary-bg) , #000 16%);
    transition: background-color 150ms ease-in-out;
}

.button-secondary {
    background-color: var(--color-button-secondary-bg);
    border-color: var(--border-color);
}

.button-secondary:hover {
    background-color: color-mix(in srgb, var(--color-button-secondary-bg) , #ffffff 12%);
    transition: background-color 150ms ease-in-out;
}

.button:focus-visible {
    outline: 2px solid rgb(255, 123, 0);
    outline-offset: 0.15em;
}

.git-home {
    display: flex;
    gap: 0.5em;
    color: var(--brand-color-text-default);
    align-items: center;
    font-family: var(--family, "Mona Sans");
    font-size: 16px;
    line-height: 150%;
}

.text-muted {
    color: var(--brand-color-text-muted);
font-family: var(--family, "Mona Sans");
font-size: 16px;
font-style: ;
line-height: 150%;
}

.navigation {
    background-color: #000;
    display: flex;
    max-width: 10000px;
    gap: 32px;
    padding:0 32px;
    height: 75px;
    justify-content: left;
    align-items: center;
    flex-shrink: 0;
    align-self: stretch;
    border-bottom: 1px solid var(--color-border-muted);
}

.nav-items {
    display: flex;
    align-items: center;
    align-self: stretch;
    padding:0 16px;
    border-left: 1px solid var(--color-border-muted);

}
.nav-item-button {
    text-transform: capitalize;
    color: var(--brand-color-text-muted);
    font-family: var(--family, "Mona Sans");
    font-size: 14px;
    line-height: 150%;
    text-decoration: none;
    padding: 0 16px;
}
.nav-item-button:hover {
    text-decoration: underline;
}
.biography-content {
    padding: 16px 80px;
    gap: 8px;
    display: flex;
    flex-shrink: 0;
    align-self: stretch;
    border: 1px solid var(--color-muted);
}
.biography-item {
color: var(--brand-color-text-muted);
font-family: "Mona Sans";
font-size: 13px;
font-style: normal;
line-height: normal;
}

.biography-item-enphasis {
color: var(--color-black);
font-family: "Mona Sans";
font-size: 13px;
font-weight: 500;
line-height: normal;
}

